.vending-schedule {
  width: 100%;

  .tab-list {
    position: relative;
  }

  .tab-name {
    z-index: 1;
    font-weight: 600;
    transition: color 100ms ease;
  }

  .no-upcoming-show-image {
    max-width: 100%;
  }
}
